@import url(normalize.css);
@import url(reset.css);
/* Global styles */
.siteWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  padding: 0 20px;
  margin: 20px auto;
}

.button {
  display: inline-block;
  padding: 5px 30px;
  transition: background-color .5s;
  border: none;
  background-color: #c4c4c4;
  color: #000;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  color: #2300ff;
}

/* Product list */
.productList {
  margin: 0 0 0 -20px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.productList:after {
  content: "";
  clear: both;
  display: table;
}

@media all and (max-width: 600px) {
  .productList {
    margin: 0;
  }
}

.productItem {
  display: inline-block;
  float: left;
  width: calc(100%/3 - 20px);
  margin: 15px 0 15px 20px;
  border: 2px solid #c4c4c4;
  position: relative;
}

.productItem input {
  position: absolute;
  left: 10px;
  top: 10px;
}

.productItem .itemContent {
  padding: 10px;
  overflow-wrap: anywhere;
}

.productItem .itemContent h1 {
  font-size: 24px;
}

.productItem .itemContent h2, .productItem .itemContent h3 {
  font-size: 16px;
}

.productItem .itemContent h2 {
  margin: 15px 0 10px 0;
}

.productItem .itemContent h3 {
  color: grey;
}

@media all and (max-width: 1024px) {
  .productItem {
    width: calc(50% - 20px);
  }
}

@media all and (max-width: 600px) {
  .productItem {
    width: 100%;
    margin: 15px 0;
  }
}

/* Product create form*/
.formWrapper {
  background-color: #f0f0f0;
  padding: 20px;
}

.formWrapper h1 {
  text-transform: uppercase;
  font-size: 36px;
  margin: 0 0 25px 0;
  text-align: center;
}

.formWrapper:after {
  content: "";
  clear: both;
  display: table;
}

.formWrapper .button {
  background-color: #488ffea3;
}

.row {
  width: 100%;
  position: relative;
  margin: 0 0 15px;
  float: left;
}

.row label {
  margin: 0 20px 0 0;
  font-weight: 700;
  padding: 10px 0;
  float: left;
  max-width: 130px;
}

.row input {
  border: 2px solid #d6d6d6;
  height: 45px;
  padding: 0 10px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.row select {
  width: 100%;
  padding: 5px 10px 5px 10px;
  height: 45px;
}

.row .inputWrapper {
  width: calc(100% - 150px);
  padding: 0;
  float: right;
}

@media all and (max-width: 600px) {
  .row label {
    max-width: 100%;
    width: 100%;
  }
  .row .inputWrapper {
    width: 100%;
  }
}

.errors {
  padding: 5px 10px;
  background-color: #F2DEDE;
}

.errors ul {
  list-style-position: inside;
  list-style-type: disc;
}

.errors ul li {
  color: #B94A48;
  font-size: 16px;
  margin: 5px 0;
}

.Header {
  padding: 0 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid #000;
}

.Header:after {
  content: "";
  clear: both;
  display: table;
}

@media all and (max-width: 600px) {
  .Header h1 {
    font-size: 24px;
  }
}

.Header .headerLeft {
  float: left;
}

@media all and (max-width: 600px) {
  .Header .headerLeft {
    width: 100%;
  }
}

.Header .headerRight {
  float: right;
}

@media all and (max-width: 600px) {
  .Header .headerRight button, .Header .headerRight a {
    margin: 10px;
  }
}

footer {
  border-top: 2px solid #000;
  margin: 15px 20px;
  padding: 10px 0;
}

footer h1 {
  text-align: center;
  font-size: 24px;
}
