
@import 'normalize.css';
@import 'reset.css';

//Mixins

@mixin mobile {
	@media all and (max-width: 600px) { @content; }
}
@mixin tablet {
	@media all and (max-width: 1024px) { @content; }
}
@mixin desktop {
	@media all and (min-width: 1025px) { @content; }
}

/* Global styles */
.siteWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.wrapper {
  padding: 0 20px;
//  max-width: 1900px;
  margin: 20px auto;
}
.button {
  display: inline-block;
  padding: 5px 30px;
  transition: background-color .5s;
  border: none;
  background-color: #c4c4c4;
	color: #000;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
	transition: 0.3s;
	&:hover {
		color: #2300ff;
	}
}

/* Product list */
.productList {
  margin: 0 0 0 -20px;
	display: flex;
	flex-flow: row wrap;
  text-align: center;
	&:after {
		content: "";
  	clear: both;
  	display: table;
	}
	@include mobile {
		margin: 0;
	}
}

.productItem {
	display: inline-block;
	float: left;
	width: calc(100%/3 - 20px);
	margin: 15px 0 15px 20px;
	border: 2px solid #c4c4c4;
	position: relative;
	input {
		position: absolute;
		left: 10px;
		top: 10px;
	}
	.itemContent {
		padding: 10px;
		overflow-wrap: anywhere;
		h1 {
			font-size: 24px;
		}
		h2, h3 {
			font-size: 16px;
		}
		h2 {
			margin: 15px 0 10px 0;
		}
		h3 {
			color: grey;
		}
	}
	@include tablet {
		width: calc(50% - 20px);
	}
	@include mobile {
		width: 100%;
		margin: 15px 0;
	}
}

/* Product create form*/
.formWrapper {
  background-color: #f0f0f0;
  padding: 20px;
  h1 {
    text-transform: uppercase;
    font-size: 36px;
    margin: 0 0 25px 0;
    text-align: center;
  }
	&:after {
		content: "";
  	clear: both;
  	display: table;
	}
  .button {
    background-color: #488ffea3;
  }
}
.row {
  width: 100%;
  position: relative;
  margin: 0 0 15px;
  float: left;
  label {
    margin: 0 20px 0 0;
    font-weight: 700;
    padding: 10px 0;
    float: left;
    max-width: 130px;
  }
  input {
    border: 2px solid #d6d6d6;
    height: 45px;
    padding: 0 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;

  }
  select {
    width: 100%;
    padding: 5px 10px 5px 10px;
    height: 45px;
  }
  .inputWrapper {
    width: calc(100% - 150px);
    padding: 0;
    float: right;
  }
	@include mobile {
		label {
			max-width: 100%;
			width: 100%;
		}
		.inputWrapper {
			width: 100%;
		}
	}
}
// Form errors
.errors {
	padding: 5px 10px;
	background-color: #F2DEDE;
	ul {
		list-style-position:  inside;
		list-style-type: disc;
		li {
			color: #B94A48;
			font-size: 16px;
			margin: 5px 0;
		}
	}
}

// Header
.Header {
	padding: 0 10px;
	margin-bottom: 15px;
	border-bottom: 2px solid #000;
	&:after {
		content: "";
  	clear: both;
  	display: table;
	}
	@include mobile {
		h1 {
			font-size: 24px;
		}
	}
	.headerLeft {
		float: left;
		@include mobile {
			width: 100%;
		}
	}
	.headerRight {
		float: right;
		@include mobile {
			button, a {
				margin: 10px;
			}
		}
	}
}

// Footer

footer {
		border-top: 2px solid #000;
		margin: 15px 20px;
		padding: 10px 0;
	h1 {
		text-align: center;
		font-size: 24px;
	}
}
